<form
  id="filters-form-filters-drop-down"
  data-fragment-id="filters-form-filters-drop-down"
  @submit.prevent="filterFormSubmit"
  class="{{ container_classes }}"
>
  <div class="flex items-center justify-start">
    <button
      type="button"
      id="filter-drop-down-toggle"
      x-ref="filterDropDownToggle"
      class="flex py-2 hover:text-scheme-accent items-center{% if settings.links_uppercase %} uppercase{% endif %}"
      x-bind:aria-expanded="filtersOpen ? true : 'false'"
      @click="filtersOpen = ! filtersOpen"
      aria-controls="filters-drop-down"
    >
      {{ 'collections.filters.title_tags' | t }}
      {% if total_active_values > 0 -%}
        ({{ total_active_values }})
      {%- endif %}
      {%- if settings.accordion_icon == 'caret' -%}
        <span
          class="rotate ml-1 inline-block h-3 w-3 origin-center transform align-middle transition"
          :class="{ 'rotate-180' : filtersOpen }"
        >
          {%- render 'icon-chevron-down' -%}
        </span>
      {%- else -%}
        <span
          class="ml-1 inline-block h-3 w-3 origin-center align-middle"
          x-show="!filtersOpen"
        >
          {%- render 'icon-plus' -%}
        </span>
        <span
          class="ml-1 inline-block h-3 w-3 origin-center align-middle"
          x-show="filtersOpen"
          style="display: none;"
        >
          {%- render 'icon-minus' -%}
        </span>
      {%- endif -%}
    </button>
  </div>
  <div
    id="filters-drop-down"
    class="pb-section-y-horizontal-spacing absolute bottom-auto left-0 top-full z-20 w-full border-y-gridline border-gridline-color bg-scheme-background text-scheme-text"
    x-show="filtersOpen"
    x-cloak
    x-transition:enter="transition ease duration-200"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease duration-200"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    data-filterable-dropdown
    @focusout="focusOut($event, 'filtersOpen')"
    @click.outside="clickOutside($event, 'filtersOpen', false)"
  >
    <button
      @click.prevent="filtersOpen = false"
      class="hidden md:absolute md:right-0 md:top-0 md:block"
    >
      <span class="sr-only">
        {{- 'general.accessibility.close_modal' | t -}}
      </span>
      <div class="my-auto mr-section-horizontal-spacing mt-[calc(theme(spacing.4)_-_var(--gridline-width))] h-6 w-6">
        {% render 'icon-close' %}
      </div>
    </button>
    <div class="px-section-horizontal-spacing">
      <div
        class="filters-wrapper w-full md:flex md:flex-row md:flex-wrap md:gap-x-16 md:gap-y-4 md:pr-[calc(var(--section-horizontal-spacing)_+_theme(spacing.6))]"
        :class="{ 'opacity-50' : loading }"
      >
        {%- for filter in filters -%}
          {%- liquid
            if settings.enable_color_swatches_in_filters
              assign is_color = false

              assign swatch_trigger = 'products.product.color_swatch_trigger' | t | downcase

              assign filter_downcase = filter.label | downcase

              if filter_downcase contains swatch_trigger
                assign is_color = true
              elsif swatch_trigger == 'color' and filter_downcase contains 'colour'
                assign is_color = true
              endif
            endif
          -%}
          <div
            class="js-filter mt-section-vertical-spacing"
            data-index="{{ forloop.index }}"
            data-filterable-filter-fragment="{{ filter.param_name }}"
          >
            <h3>
              {{ filter.label }}
              {%- if filter.active_values.size > 0 -%}
                <span>({{ filter.active_values.size }})</span>
              {%- endif -%}
            </h3>
            <div>
              {%- case filter.type -%}
                {%- when 'list', 'boolean' -%}
                  {% if is_color %}
                    <ul class="-mx-[calc(theme(borderWidth[text])_+_1px)] mt-2 flex items-center justify-start gap-0.5">
                      {%- for filter_value in filter.values -%}
                        {%- liquid
                          assign color_image_url = filter_value.value | handle | append: '.' | append: 'png' | file_img_url: '110x' | prepend: 'https:'
                          assign color_swatch_fallback = filter_value.value | split: ' ' | last | handle
                        -%}
                        <li class="relative">
                          <input
                            type="checkbox"
                            class="custom-input peer absolute inset-0 h-full w-full cursor-pointer opacity-0"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            @input.debounce="filterFormSubmit"
                            id="Filter-drop-down-{{ filter.label }}-{{ forloop.index }}"
                            {% if filter_value.active -%}
                              checked
                            {%- endif %}
                            {% if filter_value.count == 0
                              and filter_value.active == false
                            -%}
                              disabled
                            {%- endif %}
                            :disabled="loading"
                          >
                          <label
                            for="Filter-drop-down-{{ filter.label }}-{{ forloop.index }}"
                            class="relative block cursor-pointer border-text border-transparent p-[2px] peer-checked:border-scheme-text {% if filter_value.count == 0 and filter_value.active == false -%}{%- else -%}[&>span:first-of-type]:hidden{%- endif %}"
                            {% if filter_value.count == 0
                              and filter_value.active == false
                            -%}
                              disabled
                            {% endif %}
                          >
                            <span
                              class="absolute inset-0 z-10 h-full w-full bg-scheme-background/25"
                            >
                              <span
                                class="absolute bottom-0 left-0 top-1/2 z-10 h-0.5 w-full -translate-y-1/2 -rotate-45 transform bg-scheme-text"
                              ></span>
                            </span>
                            <span
                              class="block h-6 w-6 rounded-button bg-scheme-text/20 bg-full"
                              style="
                                background-image: url({{ color_image_url }});
                                background-color: {{ color_swatch_fallback }};
                              "
                            ></span>
                            <span
                              class="sr-only"
                            >
                              {{- filter_value.label -}}
                            </span>
                          </label>
                        </li>
                      {% endfor %}
                    </ul>
                  {% else %}
                    <ul class="mt-2 space-y-1">
                      {%- for filter_value in filter.values -%}
                        <li class="flex items-center justify-start">
                          <input
                            type="checkbox"
                            class="filter-checkbox custom-input peer sr-only"
                            name="{{ filter_value.param_name }}"
                            value="{{ filter_value.value }}"
                            @input.debounce="filterFormSubmit"
                            id="Filter-drop-down-{{ filter.label }}-{{ forloop.index }}"
                            {% if filter_value.active -%}
                              checked
                            {%- endif %}
                            {% if filter_value.count == 0
                              and filter_value.active == false
                            -%}
                              disabled
                            {%- endif %}
                            :disabled="loading"
                          >
                          <label
                            for="Filter-drop-down-{{ filter.label }}-{{ forloop.index }}"
                            class="cursor-pointer {% if settings.links_uppercase %}uppercase{% elsif section.settings.capitalize_filters %}capitalize{% endif %} flex items-center peer-checked:[&>span:first-child]:bg-current {% if filter_value.count == 0 and filter_value.active == false -%}text-scheme-secondary line-through{%- else -%}hover:text-scheme-accent{%- endif %}"
                            {% if filter_value.count == 0
                              and filter_value.active == false
                            -%}
                              disabled
                            {% endif %}
                          >
                            <span
                              class="mr-1 inline-block h-2 w-2 rounded-full border-checkbox border-current"
                            ></span>
                            {{ filter_value.label }}
                          </label>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {% endif %}
                  <noscript>
                    <div class="mt-4">
                      <button
                        class="theme-button w-fit"
                        type="submit"
                      >
                        {{ 'collections.filters.apply' | t }}
                      </button>
                    </div>
                  </noscript>
                {%- when 'price_range' -%}
                  {% liquid
                    assign uses_comma_decimals = false
                    assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','

                    if currencies_using_comma_decimals contains cart.currency.iso_code
                      assign uses_comma_decimals = true
                    endif

                    assign price_range_not_full_range = false

                    if filter.min_value.value or filter.max_value.value
                      if filter.min_value.value != 0 or filter.max_value.value != filter.range_max
                        assign price_range_not_full_range = true
                      endif
                    endif
                  %}
                  <div
                    x-data="Theme_RangeControl(0, {{ filter.range_max }}, {{ filter.min_value.value | default: 0 }}, {{ filter.max_value.value | default: filter.range_max }})"
                    :style="`--range-start: ${rangeStartInPercent}%; --range-end: ${rangeEndInPercent}%; --range: ${rangeInPercent}%;`"
                    :class="{ 'pointer-events-none cursor-not-allowed' : loading }"
                  >
                    {% if settings.enable_price_range_control %}
                      <div
                        class="mt-4"
                      >
                        <div
                          class="range-control invisible h-[var(--text-border-width,_0px)]"
                          :class="{ 'invisible h-[var(--text-border-width,_0px)]': ! ready }"
                        >
                          <input
                            class="range-control__edge z-10"
                            type="range"
                            :min="min"
                            :max="max"
                            step="100"
                            x-model.number="valueA"
                            @change="handleRangeStartControlChange"
                            :disabled="loading"
                          >
                          <input
                            class="range-control__edge z-10"
                            type="range"
                            :min="min"
                            :max="max"
                            step="100"
                            x-model.number="valueB"
                            @change="handleRangeEndControlChange"
                            :disabled="loading"
                          >
                          <input
                            class="range-control__center z-20"
                            type="range"
                            :min="min"
                            :max="max"
                            step="100"
                            @mousedown="$el.classList.add('grabbing')"
                            @mouseup="$el.classList.remove('grabbing');"
                            @change="handleRangeCenterControlChange"
                            x-model.number="valueCenter"
                            x-ref="centerHandle"
                            :disabled="loading"
                          >
                          <div
                            class="range-control__indicator -z-10"
                          ></div>
                        </div>
                      </div>
                    {% endif %}
                    <div class="-mx-1 mt-2 flex items-end justify-between">
                      <div class="mx-1 flex items-center justify-center">
                        <div class="relative">
                          <label
                            class="mb-1 block"
                            for="Filter-sidebar-{{ context }}-{{ filter.label }}-{{ forloop.index }}"
                          >
                            {{- 'collections.filters.from' | t -}}
                          </label>
                          <div class="flex items-center border-text border-current">
                            <span class="py-2 pl-2 pr-1 text-scheme-text/50">
                              {{- cart.currency.symbol -}}
                            </span>
                            <input
                              class="font-body block border-0 bg-transparent py-2 pl-1 pr-2"
                              id="price-range-start-field-{{ section.id }}-sidebar-{{ context }}"
                              placeholder="{{ 0 | money_without_currency | replace: '.00', '' }}"
                              x-ref="rangeStartDirectInputField"
                              x-mask:dynamic="$money($input{% if uses_comma_decimals %}, ','{% endif %})"
                              @input="handleRangeStartDirectInputFieldInput"
                              @change="handleRangeStartDirectInputFieldChange"
                              size="5"
                              {% if filter.min_value.value %}
                                value="{{ filter.min_value.value | money_without_currency | replace: '.00', '' }}"
                              {% endif %}
                              inputmode="numeric"
                              :disabled="loading"
                            >
                            <input
                              name="{{ filter.min_value.param_name }}"
                              type="hidden"
                              class="block"
                              id="Filter-sidebar-{{ context }}-{{ filter.label }}-{{ forloop.index }}"
                              x-ref="rangeStartFormField"
                              @change="filterFormSubmit"
                              @indirect-change.debounce.1250ms="filterFormSubmit"
                              x-model.number="rangeStartInMajorUnits"
                              :disabled="loading"
                            >
                          </div>
                        </div>
                      </div>
                      <div class="p-2">&ndash;</div>
                      <div class="mx-1 flex items-center justify-center">
                        <div class="relative">
                          <label
                            class="mb-1 block"
                            for="Filter-sidebar-{{ context }}-{{ filter.label }}-{{ forloop.index }}"
                          >
                            {{- 'collections.filters.to' | t -}}
                          </label>
                          <div class="flex items-center border-text border-current">
                            <span class="py-2 pl-2 pr-1 text-scheme-text/50">
                              {{- cart.currency.symbol -}}
                            </span>
                            <input
                              class="font-body block border-0 bg-transparent py-2 pl-1 pr-2"
                              id="price-range-end-field-{{ section.id }}-sidebar-{{ context }}"
                              placeholder="{{ filter.range_max | money_without_currency | replace: '.00', '' }}"
                              x-mask:dynamic="$money($input{% if uses_comma_decimals %}, ','{% endif %})"
                              x-ref="rangeEndDirectInputField"
                              @input="handleRangeEndDirectInputFieldInput"
                              @change="handleRangeEndDirectInputFieldChange"
                              size="5"
                              {% if filter.max_value.value %}
                                value="{{ filter.max_value.value | money_without_currency | replace: '.00', '' }}"
                              {% endif %}
                              inputmode="numeric"
                              :disabled="loading"
                            >
                            <input
                              name="{{ filter.max_value.param_name }}"
                              type="hidden"
                              class="block"
                              id="Filter-sidebar-{{ context }}-{{ filter.label }}-{{ forloop.index }}"
                              x-ref="rangeEndFormField"
                              @change="filterFormSubmit"
                              @indirect-change.debounce.1250ms="filterFormSubmit"
                              x-model.number="rangeEndInMajorUnits"
                              :disabled="loading"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <noscript>
                    <div class="mt-4">
                      <button
                        class="theme-button w-fit"
                        type="submit"
                      >
                        {{ 'collections.filters.apply' | t }}
                      </button>
                    </div>
                  </noscript>
              {%- endcase -%}
            </div>
          </div>
        {%- endfor -%}
      </div>
      <div
        class="mt-8 flex flex-col items-start gap-5"
        data-filterable-filter-fragment="clear"
      >
        <button
          class="theme-button theme-button--no-arrow text-left md:hidden"
          href="{{ clear_url }}"
          type="button"
          @click.prevent="filtersOpen = false"
        >
          {{ 'collections.filters.apply' | t }}
        </button>
        {% if total_active_values > 0 or price_range_not_full_range %}
          <a
            class="theme-link theme-link--no-arrow mb-2 text-scheme-text hover:text-scheme-accent"
            href="{{ clear_url }}"
            @click.prevent="clearAllFilters"
          >
            {{- 'collections.filters.clear' | t -}}
          </a>
        {% else %}
          <!-- Desktop spacer -->
          <span
            class="theme-link theme-link-no-arrow invisible mb-2 inline-block"
            aria-hidden="true"
            >&nbsp;</span
          >
        {% endif %}
      </div>
    </div>
  </div>
  {%- if is_search -%}
    <input type="hidden" name="q" value="{{ search_terms | escape }}">
  {%- endif -%}
</form>
