{%- liquid
  assign should_truncate = false

  if truncate_description
    assign truncated_description = product.description | strip_html | truncatewords: max_words, '[TRUNCATED]'

    if truncated_description contains '[TRUNCATED]'
      assign should_truncate = true
      assign truncated_description = truncated_description | replace: '[TRUNCATED]', '&hellip;'
    endif
  endif
-%}
{%- if enable_collapsible_tabs or should_truncate -%}
  {%- if enable_collapsible_tabs -%}
    <div class="mt-8 no-js:hidden" {{ block.shopify_attributes }}>
      {%- liquid
        assign description_parts = product.description | replace: '<h2 data-mce-fragment="1">', '<h2>' | split: '<h2>'
        assign counter = 1
      -%}
      {% for part in description_parts %}
        {% unless part == blank %}
          {% if part contains '</h2>' %}
            {% liquid
              assign part_parts = part | split: '</h2>'
              assign heading_handle = part_parts.first | handle
            %}
            <div
              class="{% if counter == 1 %}mt-8{% endif %} -mx-2 border-t-gridline border-gridline-color px-section-horizontal-spacing py-2 lg:-mx-4  {% if forloop.last %}border-b-gridline{% endif %}"
              x-data="{ open: false }"
              x-cloak
            >
              <h2 class="text-heading-standard">
                <button
                  @click="open = !open"
                  class="font-heading flex w-full cursor-pointer items-center justify-between text-left"
                  :aria-expanded="open ? true : 'false'"
                >
                  <div
                    class="flex items-center text-base"
                  >
                    {{ part_parts.first }}
                  </div>
                  {%- if settings.accordion_icon == 'plus_minus' -%}
                    <div class="inline-block h-6 w-6 shrink-0" x-show="!open">
                      {%- render 'icon-plus' -%}
                    </div>
                    <div
                      class="inline-block h-6 w-6 shrink-0"
                      x-show="open"
                      style="display: none;"
                    >
                      {%- render 'icon-minus' -%}
                    </div>
                  {%- else -%}
                    <div
                      class="flex h-6 w-6 shrink-0 items-center"
                      x-show="!open"
                    >
                      {%- render 'icon-chevron-down' -%}
                    </div>
                    <div
                      class="flex h-6 w-6 shrink-0 items-center"
                      x-show="open"
                      style="display: none;"
                    >
                      {%- render 'icon-chevron-up' -%}
                    </div>
                  {%- endif -%}
                </button>
              </h2>
              <div
                x-data="RTE"
                class="rte py-4"
                x-show="open"
                id="{{ heading_handle }}"
              >
                {{ part_parts.last }}
              </div>
            </div>
            {% assign counter = counter | plus: 1 %}
          {% else %}
            <div x-data="RTE" class="rte">
              {{ part }}
            </div>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
  {%- else -%}
    <div
      class="mt-8 no-js:hidden {{ block.shopify_attributes }}"
      x-data="{ open: false }"
      x-cloak
    >
      <div x-data="RTE" class="rte" x-show="!open">
        {{ truncated_description }}
      </div>
      <button
        @click="open = !open"
        x-show="!open"
        :aria-expanded="open ? true : 'false'"
        class="theme-link theme-link--no-arrow mt-4 inline-flex cursor-pointer items-center justify-center gap-1.5 hover:text-scheme-accent"
      >
        <span class="flex items-center">
          {{- 'products.product.read_more' | t -}}
        </span>
        <span class="flex h-4 w-4 items-center">{%- render 'icon-plus' %}</span>
      </button>
      <div class="rte" x-show="open">
        {{ product.description }}
      </div>
    </div>
  {%- endif -%}
  <noscript>
    <div class="rte mt-8">
      {{ product.description }}
    </div>
  </noscript>
{%- else -%}
  <div x-data="RTE" class="rte mt-8 {{ block.shopify_attributes }}">
    {{ product.description }}
  </div>
{%- endif -%}
