<section
  id="customer-register"
  class="border-b-gridline border-gridline-color"
  data-color-scheme="scheme1"
>
  <div class="bg-scheme-background py-section-vertical-spacing text-scheme-text">
    <div class="mx-auto my-theme max-w-lg px-section-horizontal-spacing">
      <div class="mx-auto grid gap-2 lg:gap-4">
        <h1 class="font-heading mb-2 text-2xl">
          {{ 'customer.activate_account.title' | t }}
        </h1>
        <p class="mt-8">
          {{ 'customer.activate_account.subtext' | t }}
        </p>

        {%- form 'activate_customer_password' -%}
          {%- if form.errors -%}
            <div class="text-scheme-accent">
              <h2 class="mb-2 text-base" tabindex="-1" autofocus>
                {{ 'contact.form.error_heading' | t }}
              </h2>
              <ul class="mb-8 space-y-2 [&_a[href]]:underline [&_a[href]]:hover:text-scheme-accent{% if form.errors.messages.size > 1 %} list-disc{% endif %}">
                {%- for field in form.errors -%}
                  <li>
                    {%- if field == 'form' -%}
                      {{ form.errors.messages[field] }}.
                    {%- else -%}
                      <a href="#{{ field }}">
                        {{ form.errors.translated_fields[field] | capitalize }}
                        {{ form.errors.messages[field] }} </a
                      >.
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          {%- endif -%}

          <div class="mt-4 space-y-4">
            <div>
              <label class="block" for="password">
                {{ 'customer.activate_account.password' | t }}
              </label>
              <input
                type="password"
                class="w-full border-b-text border-current bg-transparent py-1"
                name="customer[password]"
                id="password"
                autocomplete="new-password"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="password-error"
                {% endif %}
              >
              {%- if form.errors contains 'password' -%}
                <small
                  id="password-error"
                  class="mt-1 text-scheme-accent"
                >
                  {{ form.errors.translated_fields.password | capitalize }}
                  {{ form.errors.messages.password }}
                </small>
              {%- endif -%}
            </div>

            <div>
              <label class="block" for="password_confirmation">
                {{ 'customer.activate_account.password_confirm' | t }}
              </label>
              <input
                type="password"
                class="w-full border-b-text border-current bg-transparent py-1"
                name="customer[password_confirmation]"
                id="password_confirmation"
                autocomplete="new-password"
                {% if form.errors contains 'password' %}
                  aria-invalid="true"
                  aria-describedby="password_confirmation-error"
                {% endif %}
              >
              {%- if form.errors contains 'password_confirmation' -%}
                <small
                  id="password_confirmation-error"
                  class="mt-1 text-scheme-accent"
                >
                  {{
                    form.errors.translated_fields.password_confirmation
                    | capitalize
                  }}
                  {{ form.errors.messages.password_confirmation }}
                </small>
              {%- endif -%}
            </div>
          </div>

          <div class="mt-4">
            <button class="theme-button">
              {{ 'customer.activate_account.submit' | t }}
            </button>

            <div class="mt-4">
              <button name="decline" class="theme-link">
                {{ 'customer.activate_account.cancel' | t }}
              </button>
            </div>
          </div>
        {%- endform -%}
      </div>
    </div>
  </div>
</section>
