{%- if section.settings.enable or request.design_mode -%}
  <div
    id="{{ section.id }}"
    x-data="
      AgeCheck({
        mode: {{ section.settings.mode | json | escape }},
        dateFormat: {{ section.settings.date_format | json | escape }},
        minimumAge: {{ section.settings.minimum_age | json | escape }},
        redirectUrl: {{ section.settings.redirect_link | json | escape }},
        enabled: {{ section.settings.enable | default: false }}
      })
    "
  >
    <div>
      <template data-should-teleport="#modal-slot">
        <template x-if="$store.modals.modal.contents === 'ageCheck'">
          <div
            class="flex h-full w-full overflow-y-auto bg-scheme-background text-scheme-text"
            data-modal-label="{{ section.settings.title }}"
            data-color-scheme="{{ section.settings.color_scheme | default: 'scheme1' }}"
          >
            <div class="m-auto h-fit w-fit space-y-theme-double text-center">
              {% if settings.logo != blank %}
                <div
                  class="mx-auto"
                  style="max-width: {{ section.settings.logo_max_width }}px;"
                >
                  {% liquid
                    assign logo = settings.logo

                    assign image_size = section.settings.logo_max_width
                    assign image_size_2x = section.settings.logo_max_width | times: 2
                    assign image_size_3x = section.settings.logo_max_width | times: 3
                  %}
                  <img
                    src="{{ logo | image_url: width: image_size }}"
                    srcset="
                      {{- logo | image_url: width: image_size | append: ' 1x,' -}}
                      {{- logo | image_url: width: image_size_2x | append: ' 2x,' -}}
                      {{- logo | image_url: width: image_size_3x | append: ' 3x' -}}
                    "
                    width="{{ logo.width }}"
                    height="{{ logo.height }}"
                    loading="eager"
                    alt="{{ logo.alt | default: shop.name }}"
                  >
                </div>
              {% endif %}

              {% if section.settings.title != '' %}
                <h2
                  class="font-heading text-2xl"
                >
                  {{ section.settings.title }}
                </h2>
              {% endif %}

              {%- if section.settings.text != '' -%}
                <div class="font-main text-theme-basic rte rte--content-only rte--compact mx-auto">
                  {{ section.settings.text }}
                </div>
              {%- endif -%}

              {%- case section.settings.mode -%}
                {%- when 'buttons' -%}
                  <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6">
                      <button
                        @click="approveEntry"
                        role="button"
                        class="theme-button min-w-[6rem]"
                      >
                        <span>{{ section.settings.yes_button_text }}</span>
                      </button>
                    </div>
                    <div class="col-span-6">
                      <button
                        @click="denyEntry"
                        role="button"
                        class="theme-button--secondary min-w-[6rem] px-8 py-2"
                      >
                        <span>{{ section.settings.no_button_text }}</span>
                      </button>
                    </div>
                  </div>
                {%- when 'dob' -%}
                  {%- capture day_input -%}
                    <div class="input-container w-full">
                      <label class="sr-only" for="day-input-{{ section.id }}">{{ 'age_check.day' | t }}</label>
                      <input
                        type="tel"
                        maxlength="2"
                        id="day-input-{{ section.id }}"
                        name="day"
                        class="w-full border-b-text border-current bg-transparent py-1 text-center"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        placeholder="DD"
                        required
                        x-ref="day"
                        x-model="day"
                      >
                    </div>
                  {%- endcapture -%}
                  {%- capture month_input -%}
                    <div class="input-container w-full">
                      <label class="sr-only" for="month" id="month-input-{{ section.id }}">{{ 'age_check.month' | t }}</label>
                      <input
                        type="tel"
                        maxlength="2"
                        id="month-input-{{ section.id }}"
                        name="month"
                        class="w-full border-b-text border-current bg-transparent py-1 text-center"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        placeholder="MM"
                        x-ref="month"
                        x-model="month"
                        required
                      >
                    </div>
                  {%- endcapture -%}
                  <div
                    class="dob-form mx-auto grid max-w-xs grid-cols-12 gap-2"
                    id="dob-form-{{ section.id }}"
                  >
                    {%- if section.settings.date_format == 'dd-mm-yyyy' -%}
                      <div class="input-grid-item col-span-4">
                        {{ day_input }}
                      </div>
                      <div class="input-grid-item col-span-4">
                        {{ month_input }}
                      </div>
                    {%- else -%}
                      <div class="input-grid-item col-span-4">
                        {{ month_input }}
                      </div>
                      <div class="input-grid-item col-span-4">
                        {{ day_input }}
                      </div>
                    {%- endif -%}
                    <div class="input-grid-item col-span-4">
                      <div class="input-container">
                        <label
                          class="sr-only"
                          for="year-input-{{ section.id }}"
                        >
                          {{- 'age_check.year' | t -}}
                        </label>
                        <input
                          type="tel"
                          maxlength="4"
                          name="year"
                          id="year-input-{{ section.id }}"
                          class="w-full border-b-text border-current bg-transparent py-1 text-center"
                          autocorrect="off"
                          autocapitalize="off"
                          autocomplete="email"
                          placeholder="YYYY"
                          required
                          x-ref="year"
                          x-model="year"
                        >
                      </div>
                    </div>
                  </div>
              {%- endcase -%}
            </div>
          </div>
        </template>
      </template>
    </div>
  </div>

  {% unless request.design_mode %}
    <script
      src="{{ 'age-check.js' | asset_url }}"
      type="module"
    ></script>
  {% endunless %}
{%- endif -%}

{% schema %}
{
  "name": "Age check",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable age check",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "paragraph",
      "content": "Edit your logo in [theme settings](/editor?context=theme&category=logo)."
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 20,
      "max": 800,
      "step": 10,
      "unit": "px",
      "label": "Custom logo width",
      "default": 100
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Age verification"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Are you over 21 years of age?</p>"
    },
    {
      "type": "radio",
      "id": "mode",
      "label": "Mode",
      "default": "buttons",
      "options": [
        {
          "value": "buttons",
          "label": "Button prompt"
        },
        {
          "value": "dob",
          "label": "Date of birth input"
        }
      ]
    },
    {
      "type": "header",
      "content": "Button prompt"
    },
    {
      "type": "text",
      "id": "yes_button_text",
      "label": "Approve button text",
      "default": "Yes"
    },
    {
      "type": "text",
      "id": "no_button_text",
      "label": "Deny button text",
      "default": "No"
    },
    {
      "type": "header",
      "content": "Date of birth input"
    },
    {
      "type": "radio",
      "id": "date_format",
      "label": "Date format",
      "default": "mm-dd-yyyy",
      "options": [
        {
          "value": "mm-dd-yyyy",
          "label": "MM DD YYYY"
        },
        {
          "value": "dd-mm-yyyy",
          "label": "DD MM YYYY"
        }
      ]
    },
    {
      "type": "range",
      "id": "minimum_age",
      "min": 15,
      "max": 25,
      "step": 1,
      "unit": "yrs",
      "label": "Minimum age",
      "default": 18
    },
    {
      "type": "header",
      "content": "Redirect URL"
    },
    {
      "type": "url",
      "id": "redirect_link",
      "label": "Link",
      "info": "Visitors will be redirected to this link if they click the deny button or enter a date of birth that is under the required age."
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "Color scheme"
    }
  ]
}
{% endschema %}
