{%- liquid
  assign section_color = section.settings.color_scheme
  assign text_align = section.settings.text_alignment
  assign text_position = section.settings.text_position
  assign image_position = section.settings.image_position
  assign fill_image = section.settings.fill_image
  assign indent_image = section.settings.indent_image

  case section.settings.image_size
    when 'third'
      assign text_width_desktop = 'lg:col-span-8'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-9 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-4'
      endif

      assign sizes = '(min-width: 1024px) calc(100vw / 3), 100vw'
    when 'half'
      assign text_width_desktop = 'lg:col-span-6'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-7 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-6'
      endif

      assign sizes = '(min-width: 1024px) 50vw, 100vw'
    when 'two_thirds'
      assign text_width_desktop = 'lg:col-span-4'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-5 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-8'
      endif

      assign sizes = '(min-width: 1024px) calc(100vw / 3 * 2), 100vw'
  endcase

  assign preload = false
  assign loading = 'lazy'

  if section.index == 1
    assign preload = true
  endif

  if section.index <= 3
    assign loading = 'eager'
  endif
-%}

<section
  class="grid grid-flow-row-dense grid-cols-1 gap-gutter overflow-hidden border-b-gridline border-gridline-color bg-gridline-color lg:grid-cols-12"
  x-data="{ currentLink: '' }"
  data-color-scheme="{{ section_color }}"
>
  <div class="bg-scheme-background {{ image_width_desktop }} {% unless settings.fill_image_to_border_edge %}p-2 lg:p-4 h-full w-full{% endunless %} {% if indent_image %}p-8 lg:p-16{% endif %}">
    <div class="relative min-h-full">
      {%- if section.settings.image != blank -%}
        {%- assign image = section.settings.image -%}
        {%- if fill_image -%}
          <div class="hidden lg:block">
            {% render 'image-fit',
              image: image,
              sizes: sizes,
              preload: false,
              loading: loading
            %}
          </div>
          <div class="block lg:hidden">
            {% render 'image',
              image: image,
              sizes: sizes,
              preload: preload,
              loading: loading
            %}
          </div>
        {%- else -%}
          {% render 'image',
            image: image,
            sizes: sizes,
            preload: preload,
            loading: loading
          %}
        {%- endif -%}
      {%- else -%}
        {{
          'image'
          | placeholder_svg_tag: 'absolute inset-0 w-full h-full bg-scheme-placeholder-background text-scheme-placeholder-foreground fill-current'
        }}
      {%- endif -%}

      <div>
        {%- for block in section.blocks -%}
          {%- liquid
            assign image = block.settings.image
            assign handle = block.id | handleize

            if image != blank
              render 'hover-link-image', image: image, sizes: sizes, handle: handle
            endif
          -%}
        {%- endfor -%}
      </div>
    </div>
  </div>

  <div class="{{ text_width_desktop }} relative flex bg-scheme-background px-section-horizontal-spacing py-section-vertical-spacing text-scheme-text {{ text_position }}">
    <div
      class="{% render 'type-scale-classes', mobile_text_scale: section.settings.mobile_text_scale, desktop_text_scale: section.settings.desktop_text_scale %} {{ text_align }} w-full"
    >
      <ul class="font-heading break-word inline-block max-w-full">
        {%- for block in section.blocks -%}
          {%- liquid
            assign link = block.settings.link
            assign text = block.settings.text
            assign image = block.settings.image
          -%}
          {%- if section.settings.show_index_as_superscript %}
            {%- capture superscript_content -%}<sup class="pr-1">{{ forloop.index }}</sup>{%- endcapture -%}
          {%- endif -%}
          <li {{ block.shopify_attributes }}>
            <div class=" relative inline-block max-w-full">
              <a
                href="{{ link }}"
                class="font-heading break-word hover:text-scheme-accent"
                x-on:mouseenter="currentLink = '{%- if image != blank -%}{{- block.id | handleize -}}{%- endif -%}'"
                x-on:mouseleave="
                  setTimeout(
                  () => {
                    if (currentLink == '{{ block.id | handleize }}') {
                      currentLink = ''
                    }
                  }, 200)
                "
                x-on:focus="currentLink = '{%- if image != blank -%}{{- block.id | handleize -}}{%- endif -%}'"
                x-on:blur="
                  setTimeout(
                  () => {
                    if (currentLink == '{{ block.id | handleize }}') {
                      currentLink = ''
                    }
                  }, 200)
                "
              >
                {% if section.settings.show_index_as_superscript -%}
                  {{- superscript_content }}
                {%- endif -%}
                <span class="hover:underline">{{ text }}</span>
              </a>
            </div>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom links with image",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "range",
      "id": "mobile_text_scale",
      "min": -2,
      "max": 4,
      "step": 1,
      "label": "Mobile font size scale",
      "default": 2
    },
    {
      "type": "range",
      "id": "desktop_text_scale",
      "min": -2,
      "max": 9,
      "step": 1,
      "label": "Desktop font size scale",
      "default": 7
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "items-start",
          "label": "Top"
        },
        {
          "value": "items-center",
          "label": "Middle"
        },
        {
          "value": "items-end",
          "label": "Bottom"
        }
      ],
      "default": "items-center"
    },
    {
      "type": "checkbox",
      "id": "show_index_as_superscript",
      "label": "Show index as superscript",
      "default": false
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position on desktop",
      "default": "right",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size on desktop",
      "default": "half",
      "options": [
        {
          "value": "third",
          "label": "One third"
        },
        {
          "value": "half",
          "label": "One half"
        },
        {
          "value": "two_thirds",
          "label": "Two thirds"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "fill_image",
      "label": "Fit image to text",
      "default": false,
      "info": "This setting will crop the image on desktop"
    },
    {
      "type": "checkbox",
      "id": "indent_image",
      "label": "Indent image",
      "default": false
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "name": "link",
      "type": "link",
      "settings": [
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "default": "/collections/all"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Link text",
          "default": "Link"
        },
        {
          "id": "image",
          "type": "image_picker",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom links with image",
      "blocks": [
        {
          "type": "link"
        },
        {
          "type": "link"
        },
        {
          "type": "link"
        }
      ]
    }
  ]
}
{% endschema %}
