{%- liquid
  assign section_color = section.settings.color_scheme

  assign locale_selector = false
  assign country_selector = false

  if section.settings.show_country_selector and localization.available_countries.size > 1
    assign country_selector = true
  endif

  if section.settings.show_locale_selector and shop.published_locales.size > 1
    assign locale_selector = true
  endif

  assign show_grid_border = section.settings.show_grid_border
  assign block_count = section.blocks.size

  assign desktop_grid_cols = 12
  case block_count
    when 1
      assign desktop_col_span = 12
    when 2
      assign desktop_col_span = 6
    when 3
      assign desktop_col_span = 4
    when 4
      assign desktop_col_span = 3
    when 5
      assign desktop_col_span = 2
      assign desktop_grid_cols = 10
  endcase
-%}

<footer
  class="bg-scheme-background text-scheme-text"
  data-color-scheme="{{ section_color }}"
  data-theme-footer
>
  {% if section.settings.show_newsletter %}
    {% render 'newsletter',
      section_color: section.settings.newsletter_color_scheme,
      text_size_class: 'text-base',
      section_title: section.settings.newsletter_section_title,
      subheading: section.settings.newsletter_subheading,
      section_id: section.id
    %}
  {% endif %}
  {% if section.blocks.size > 0 %}
    <div class="border-b-gridline border-gridline-color">
      <div
        class="grid lg:grid-cols-var bg-gridline-color{% if show_grid_border %} gap-gutter{% endif %}"
        style="--grid-cols: {{ desktop_grid_cols }};"
      >
        {%- for block in section.blocks -%}
          <div
            class="break-word bg-scheme-background px-section-horizontal-spacing py-section-vertical-spacing text-scheme-text lg:col-span-var"
            style="--col-span: {{ desktop_col_span }};"
            {{ block.shopify_attributes }}
          >
            {%- case block.type -%}
              {%- when 'logo' -%}
                {%- liquid
                  if block.settings.logo == blank
                    assign logo = settings.logo
                  else
                    assign logo = block.settings.logo
                  endif
                -%}
                {% if logo != blank %}
                  <div style="max-width: {{ block.settings.logo_max_width }}px;">
                    {% liquid
                      assign image_size = block.settings.logo_max_width
                      assign image_size_2x = block.settings.logo_max_width | times: 2
                      assign image_size_3x = block.settings.logo_max_width | times: 3
                    %}
                    <img
                      src="{{ logo | image_url: width: image_size }}"
                      srcset="
                        {{- logo | image_url: width: image_size | append: ' 1x,' -}}
                        {{- logo | image_url: width: image_size_2x | append: ' 2x,' -}}
                        {{- logo | image_url: width: image_size_3x | append: ' 3x' -}}
                      "
                      width="{{ logo.width }}"
                      height="{{ logo.height }}"
                      loading="lazy"
                      alt="{{ logo.alt | default: shop.name }}"
                    >
                  </div>
                {% else %}
                  {{ shop.name }}
                {% endif %}
              {%- when 'text' -%}
                {% if block.settings.heading != '' %}
                  <h2 class="{{ section.settings.block_heading_font }} break-word mb-4 text-base">
                    {{ block.settings.heading }}
                  </h2>
                {% endif %}
                <div class="rte">
                  {{ block.settings.text }}
                </div>
              {%- when 'menu' -%}
                <div class="inline-block text-left">
                  {% assign link_list = block.settings.main_linklist %}
                  {% if block.settings.show_heading %}
                    <h2 class="{{ section.settings.block_heading_font }} mb-4 text-base">
                      {{ linklists[link_list].title }}
                    </h2>
                  {% endif %}
                  <ul class="list-none space-y-1">
                    {% for link in linklists[link_list].links %}
                      <li>
                        <a
                          href="{{ link.url }}"
                          class="hover:text-scheme-accent"
                        >
                          {{ link.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {%- when 'social_media' -%}
                {% assign social_style = settings.social_style %}
                <div>
                  {%- if block.settings.show_social -%}
                    <div class="inline-block text-left">
                      {%- if block.settings.social_title != blank %}
                        <h2 class="{{ section.settings.block_heading_font }} mb-4 text-base">
                          {{ block.settings.social_title }}
                        </h2>
                      {% endif %}
                      {% render 'social-icons',
                        social_style: social_style,
                        link_class: 'mb-1',
                        section_color: section_color
                      %}
                    </div>
                  {%- endif -%}
                  {%- if block.settings.enable_follow_on_shop -%}
                    <div class="{% if block.settings.show_social and block.settings.social_title != blank %}mt-3{% else %}mt-1{% endif %}">
                      {{ shop | login_button: action: 'follow' }}
                    </div>
                  {%- endif -%}
                </div>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  {% endif %}

  <div>
    <div class="px-section-horizontal-spacing py-section-vertical-spacing lg:flex lg:flex-wrap lg:items-center lg:justify-between">
      <div class="mb-4 space-y-2 text-sm lg:mb-0 lg:flex-1">
        <p>
          &copy; {{ 'now' | date: '%Y' }},
          {{ shop.name | link_to: routes.root_url }}.
        </p>
        <ul class="flex flex-wrap gap-1 text-sm [&>li:last-child]:after:content-none [&>li]:after:content-['\00B7']">
          <li>
            {{ powered_by_link }}
          </li>
          {%- if section.settings.show_policy_links -%}
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <a href="{{ policy.url }}">{{ policy.title }}</a>
                </li>
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>
      {% if section.settings.show_payment_icons %}
        {% unless shop.enabled_payment_types == empty %}
          <div class="mb-4 md:mb-0 md:w-auto lg:flex-1">
            <h2 class="sr-only">{{ 'general.payment.method' | t }}</h2>
            <ul class="-mx-1 -mb-2 {% if country_selector or locale_selector %}lg:text-center{% else %}lg:text-right{% endif %}">
              {% for type in shop.enabled_payment_types %}
                <li class="mx-1 mb-2 inline-block w-7">
                  {{ type | payment_type_svg_tag: class: 'icon' }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endunless %}
      {% endif %}
      {%- if country_selector or locale_selector -%}
        <div class="mb-4 flex flex-wrap items-center justify-between lg:mb-0 lg:flex-1 lg:items-end lg:justify-end">
          {%
            render 'localization-form',
            context: 'footer',
            open: 'bottom-[calc(100%_+_0.5rem)] left-auto right-0',
            open_mobile: 'max-md:left-0 max-md:right-auto',
            locale_selector: locale_selector,
            country_selector: country_selector,
            button_classes: 'border-b-text border-scheme-text py-1 text-sm',
            options_max_width: 'max-w-[theme(spacing.40)]',
            option_text_size: 'text-sm',
            option_padding: 'px-2 py-2',
          %}
        </div>
      {%- endif -%}
    </div>
  </div>
</footer>

{% if settings.logo != blank %}
  <style>
    .footer-logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "Footer",
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons"
    },
    {
      "type": "header",
      "content": "Language Selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Country/region selector",
      "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_country_selector",
      "label": "Show country/region selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_section_title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "label": "Subheading",
      "default": "<p>Receive special offers and first look at new products.</p>"
    },
    {
      "type": "color_scheme",
      "id": "newsletter_color_scheme",
      "label": "Newsletter color scheme",
      "default": "scheme2"
    },
    {
      "type": "header",
      "content": "Policy links",
      "info": "To add store policies, go to your [policy settings](/admin/settings/legal)."
    },
    {
      "type": "checkbox",
      "id": "show_policy_links",
      "label": "Show policy links"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "show_grid_border",
      "label": "Show grid border",
      "default": false
    },
    {
      "type": "select",
      "id": "block_heading_font",
      "label": "Font for block headings",
      "options": [
        {
          "value": "font-heading",
          "label": "Heading"
        },
        {
          "value": "font-body",
          "label": "Body"
        }
      ],
      "default": "font-heading"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "Color scheme"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Edit your logo in [theme settings](/editor?context=theme&category=logo)."
        },
        {
          "type": "header",
          "content": "Custom logo"
        },
        {
          "type": "paragraph",
          "content": "This will override default logo settings."
        },
        {
          "id": "logo",
          "type": "image_picker",
          "label": "Logo image"
        },
        {
          "type": "range",
          "id": "logo_max_width",
          "min": 50,
          "max": 250,
          "step": 5,
          "unit": "px",
          "label": "Logo width",
          "default": 100
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "Text",
          "default": "<p>Use this to add additional information about your store, e.g. address / contact details.</p>"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "limit": 2,
      "settings": [
        {
          "type": "link_list",
          "id": "main_linklist",
          "label": "Menu",
          "default": "footer",
          "info": "This menu won't show dropdown items"
        },
        {
          "type": "checkbox",
          "id": "show_heading",
          "label": "Show heading",
          "default": true
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Social",
          "info": "To display your social media accounts, link them in your [theme settings](/editor?context=theme&category=social%20media)."
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "label": "Show social media",
          "default": true
        },
        {
          "type": "text",
          "id": "social_title",
          "label": "Social heading"
        },
        {
          "type": "header",
          "content": "Follow on Shop",
          "info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
        },
        {
          "type": "checkbox",
          "id": "enable_follow_on_shop",
          "default": true,
          "label": "Enable Follow on Shop"
        }
      ]
    }
  ]
}
{% endschema %}
