{%- liquid
  assign section_color = section.settings.color_scheme

  assign image_color_scheme = section.settings.image_color_scheme
  assign image_position = section.settings.image_position

  assign text_size_class = section.settings.text_size
  assign text_align = section.settings.text_alignment
  assign text_position = section.settings.text_position

  assign fill_image = section.settings.fill_image
  assign indent_image = section.settings.indent_image

  assign ratio = section.settings.crop_image | plus: 0

  assign font = section.settings.font

  case section.settings.image_size
    when 'third'
      assign text_width_desktop = 'lg:col-span-8'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-9 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-4'
      endif

      assign sizes = '(min-width: 1024px) calc(100vw / 3), 100vw'
    when 'half'
      assign text_width_desktop = 'lg:col-span-6'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-7 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-6'
      endif

      assign sizes = '(min-width: 1024px) 50vw, 100vw'
    when 'two_thirds'
      assign text_width_desktop = 'lg:col-span-4'

      if image_position == 'right'
        assign image_width_desktop = 'lg:col-start-5 lg:col-end-13'
      else
        assign image_width_desktop = 'lg:col-span-8'
      endif

      assign sizes = '(min-width: 1024px) calc(100vw / 3 * 2), 100vw'
  endcase
-%}

<section class="grid grid-flow-row-dense grid-cols-1 gap-gutter overflow-hidden border-b-gridline border-gridline-color bg-gridline-color lg:grid-cols-12">
  <div
    class="bg-scheme-background {{ image_width_desktop }} {% unless settings.fill_image_to_border_edge %}p-2 lg:p-4 h-full w-full{% endunless %} {% if indent_image %}p-8 lg:p-16{% endif %}"
    data-color-scheme="{{ image_color_scheme }}"
  >
    <div class="relative min-h-full">
      {%- if section.settings.image != blank -%}
        {%- liquid
          assign image = section.settings.image

          if section.index == 1
            assign preload = true
          else
            assign preload = false
          endif
        -%}
        {%- if fill_image -%}
          <div class="hidden lg:block">
            {% render 'image-fit',
              image: image,
              sizes: sizes,
              preload: preload
            %}
          </div>
          <div class="block lg:hidden">
            {% render 'image', image: image, sizes: sizes, preload: preload %}
          </div>
        {%- else -%}
          <div class="relative">
            {%
              render 'image-crop' with
              image: image,
              sizes: sizes,
              preload: preload,
              ratio: ratio
            %}
          </div>
        {%- endif -%}
      {%- else -%}
        <div
          class="relative w-full"
          style="padding-bottom: {{ 1 | divided_by: 1.3 | times: 100 }}%;"
        >
          {{
            'image'
            | placeholder_svg_tag: 'absolute inset-0 w-full h-full text-scheme-placeholder-foreground bg-scheme-placeholder-background fill-current'
          }}
        </div>
      {%- endif -%}
    </div>
  </div>

  <div
    class="{{ text_width_desktop }} relative flex bg-scheme-background px-section-horizontal-spacing py-section-vertical-spacing text-scheme-text {{ text_position }}"
    data-color-scheme="{{ section_color }}"
  >
    <div class="{{ text_align }} break-word w-full">
      {%- if section.settings.title != blank -%}
        <h2 class="font-heading text-heading-standard">
          {{ section.settings.title }}
        </h2>
      {%- endif -%}

      {%- if section.settings.richtext != blank -%}
        <div class="rte {{ text_size_class }} {% if section.settings.title != '' %}mt-4{% endif %} {{ font }}">
          {{ section.settings.richtext }}
        </div>
      {%- endif -%}

      {%- if section.settings.cta_link != blank
        and section.settings.cta_text != ''
      -%}
        <div class="mt-4 text-0">
          {%- case section.settings.cta_style -%}
            {%- when 'link' -%}
              <a
                class="theme-link inline-block text-scheme-text hover:text-scheme-accent"
                href="{{ section.settings.cta_link }}"
              >
                {{- section.settings.cta_text -}}
              </a>
            {%- when 'button' -%}
              <a
                href="{{ section.settings.cta_link }}"
                class="theme-button inline-block"
              >
                {{- section.settings.cta_text -}}
              </a>
          {%- endcase -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position on desktop",
      "default": "right",
      "options": [
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size on desktop",
      "default": "half",
      "options": [
        {
          "value": "third",
          "label": "One third"
        },
        {
          "value": "half",
          "label": "One half"
        },
        {
          "value": "two_thirds",
          "label": "Two thirds"
        }
      ]
    },
    {
      "type": "select",
      "id": "crop_image",
      "label": "Crop image",
      "options": [
        {
          "value": "0",
          "label": "No crop"
        },
        {
          "value": "1.3",
          "label": "Landscape"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "0.8",
          "label": "Portrait"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "indent_image",
      "label": "Indent image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "fill_image",
      "label": "Fit image to text",
      "default": false,
      "info": "This setting will crop the image on desktop to the height of the text and override the “Crop image” setting"
    },
    {
      "type": "color_scheme",
      "id": "image_color_scheme",
      "label": "Image color scheme",
      "info": "Image color scheme is used for background color if image is indented.",
      "default": "scheme1"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "richtext",
      "label": "Text",
      "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
    },
    {
      "type": "select",
      "id": "font",
      "label": "Font",
      "options": [
        {
          "value": "font-heading",
          "label": "Heading"
        },
        {
          "value": "font-body",
          "label": "Body"
        }
      ],
      "default": "font-body"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        {
          "value": "text-base",
          "label": "Body"
        },
        {
          "value": "text-heading-standard",
          "label": "Standard heading"
        },
        {
          "value": "text-heading-feature",
          "label": "Feature heading"
        },
        {
          "value": "text-heading-secondary",
          "label": "Secondary heading"
        }
      ],
      "default": "text-base"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-left"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "items-start",
          "label": "Top"
        },
        {
          "value": "items-center",
          "label": "Middle"
        },
        {
          "value": "items-end",
          "label": "Bottom"
        }
      ],
      "default": "items-center"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Call to action"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "Link"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "cta_style",
      "label": "Style",
      "options": [
        {
          "value": "link",
          "label": "Link"
        },
        {
          "value": "button",
          "label": "Button"
        }
      ],
      "default": "link"
    }
  ],
  "presets": [
    {
      "name": "Image with text"
    }
  ]
}
{% endschema %}
