{%- liquid
  assign section_color = section.settings.color_scheme
  assign enable_video_looping = section.settings.enable_video_looping
  assign two_media_per_row = section.settings.two_media_per_row

  assign models = product.media | where: 'media_type', 'model'

  case section.settings.desktop_media_width
    when 'one-third'
      assign content_width_desktop = 'lg:col-span-8'

      assign media_sizes = '(min-width: 1024px) calc(100vw / 3), 100vw'
      assign half_width_media_sizes = '(min-width: 1024px) calc((100vw / 3) / 2), 100vw'

      if section.settings.desktop_media_position == 'right'
        assign media_width_desktop = 'lg:col-start-9 lg:col-end-13'
      else
        assign media_width_desktop = 'lg:col-span-4'
      endif
    when 'one-half'
      assign content_width_desktop = 'lg:col-span-6'

      assign media_sizes = '(min-width: 1024px) 50vw, 100vw'
      assign half_width_media_sizes = '(min-width: 1024px) 25vw, 100vw'

      if section.settings.desktop_media_position == 'right'
        assign media_width_desktop = 'lg:col-start-7 lg:col-end-13'
      else
        assign media_width_desktop = 'lg:col-span-6'
      endif
    when 'three-fifths'
      assign content_width_desktop = 'lg:col-span-5'

      assign media_sizes = '(min-width: 1024px) calc(100vw / 5 * 3), 100vw'
      assign half_width_media_sizes = '(min-width: 1024px) calc((100vw / 5 * 3) / 2), 100vw'

      if section.settings.desktop_media_position == 'right'
        assign media_width_desktop = 'lg:col-start-6 lg:col-end-13'
      else
        assign media_width_desktop = 'lg:col-span-7'
      endif
    when 'two-thirds'
      assign content_width_desktop = 'lg:col-span-4'

      assign media_sizes = '(min-width: 1024px) calc(100vw / 3 * 2), 100vw'
      assign half_width_media_sizes = '(min-width: 1024px) calc((100vw / 3 * 2) / 2), 100vw'

      if section.settings.desktop_media_position == 'right'
        assign media_width_desktop = 'lg:col-start-5 lg:col-end-13'
      else
        assign media_width_desktop = 'lg:col-span-8'
      endif
  endcase

  if section.settings.two_media_per_row
    assign first_media_sizes = half_width_media_sizes
    assign remaining_media_sizes = half_width_media_sizes
  else
    assign first_media_sizes = media_sizes
    assign remaining_media_sizes = media_sizes
  endif

  assign first_media_full_width = false

  if section.settings.first_media_full_width and section.settings.two_media_per_row
    assign first_media_full_width = true
    assign first_media_sizes = media_sizes
  endif

  if two_media_per_row == true and product.media.size > 1
    assign left_over = product.media.size | modulo: 2
  endif

  assign last_media_full_width = false

  if first_media_full_width and left_over == 0
    assign last_media_full_width = true
  elsif first_media_full_width and product.media.size == 2
    assign last_media_full_width = true
  endif

  assign negative_margin = false
  if settings.fill_image_to_border_edge
    assign negative_margin = true
  endif

  assign current_variant = product.selected_or_first_available_variant

  assign enable_variant_media = false

  unless product.has_only_default_variant
    assign enable_variant_media = section.settings.enable_variant_media
  endunless

  assign always_show_product_featured_media_first = section.settings.always_show_product_featured_media_first

  if always_show_product_featured_media_first or enable_variant_media
    assign featured_media = product.featured_media
  else
    assign featured_media = current_variant.featured_media | default: product.featured_media
  endif

  assign media_ids = ''

  if featured_media
    assign media_ids = media_ids | append: featured_media.id | append: ','
  endif

  for media in product.media
    assign media_ids = media_ids | append: media.id | append: ','
  endfor

  assign media_ids_array = media_ids | split: ',' | uniq

  if section.settings.variant_media_behavior == 'scroll'
    assign media_scroll_to = true
  else
    assign media_scroll_to = false
  endif

  assign single_variant_mode = false

  unless product.has_only_default_variant
    if section.settings.single_variant_mode == true
      assign single_variant_mode = true
    else
      assign single_variant_mode = false
    endif
  endunless

  if enable_variant_media or single_variant_mode
    assign variants_with_media = product.variants | where: 'featured_media'
    assign first_variant_media = variants_with_media | map: 'featured_media' | first
    assign variant_media_ids_array = variants_with_media | map: 'featured_media' | map: 'id' | uniq

    if enable_variant_media == false and variants_with_media.size > 0
      # Reset media ids array to only include reachable media

      if first_variant_media
        assign slice_point = first_variant_media.position | minus: 1
        assign non_variant_media = product.media | slice: 0, slice_point
        assign non_variant_media_ids_array = non_variant_media | map: 'id'
      endif

      assign media_ids = ''

      if featured_media
        assign media_ids = media_ids | append: featured_media.id | append: ','
      endif

      assign media_ids_array = non_variant_media_ids_array | concat: variant_media_ids_array | uniq
    endif

    if always_show_product_featured_media_first
      # If there is no non-variant media, reset some assumptions
      if first_variant_media.position == 1
        assign always_show_product_featured_media_first = false
        assign featured_media = current_variant.featured_media
      endif
    endif
  endif

  assign complementary_products_block = section.blocks | where: 'type', 'complementary' | first
-%}

{{ 'modules-product.bundle.css' | asset_url | stylesheet_tag }}
{{ 'modules-slideshow.bundle.css' | asset_url | stylesheet_tag }}

<section
  class="grid grid-flow-row-dense grid-cols-1 border-b-gridline border-gridline-color lg:grid-cols-12 lg:gap-gutter lg:bg-gridline-color [&:not(:has(.product-media-container):has(.product-content-container))]:lg:bg-scheme-background"
  id="{{ section.id }}"
  x-data="
    Theme_Product({
      product: {{ product | json | escape }},
      initialVariant: {{ current_variant | json | escape }},
      optionsWithValues: {{ product.options_with_values | json | escape }},
      featuredMediaId: {% if featured_media %}{{ featured_media.id }}{% else %}null{% endif %},
      mediaScrollTo: {{ media_scroll_to }},
      singleVariantMode: {{ single_variant_mode }},
      alwaysShowProductFeaturedMediaFirst:
        {{ section.settings.always_show_product_featured_media_first }},
      firstMediaFullWidth: {{ first_media_full_width }},
      shouldUpdateHistoryState: true,
      templateSuffix: '{{ template.suffix }}',
    })
  "
  data-product-root="{{ section.id }}"
  data-color-scheme="{{ section_color }}"
>
  {%- liquid
    assign has_interactive_media = false
    assign image_index = 0

    for media in product.media
      if media.media_type != 'image'
        assign has_interactive_media = true
        break
      endif
    endfor
  -%}
  <div
    class="relative {% if product.media.size > 1 %}pb-7{% endif %} product-media-container bg-scheme-background text-scheme-text lg:pb-0 {{ media_width_desktop }} {% unless settings.fill_image_to_border_edge %}border-b-gridline border-gridline-color lg:border-0{% endunless %}"
    data-product-media-container
  >
    <div
      class="splide splide--product lg:!sticky lg:top-sticky-header-less-gridline {% if negative_margin %}lg:-mb-gridline{% endif %}"
      data-drag-disabled="{{ has_interactive_media }}"
      {% if product.media.size > 1 %}
        data-slideshow-enabled="true"
      {% endif %}
      x-ref="splide"
    >
      <div class="transition-[max-height] splide__track{% if settings.fill_image_to_border_edge %} max-lg:border-b-gridline border-gridline-color{% endif %}{% unless settings.fill_image_to_border_edge %} lg:p-4{% endunless %}{% if negative_margin %} lg:border-b-gridline{% endif %}">
        <ul
          id="media-list-{{ product.id }}-{{ section.id }}"
          class="
            splide__list lg:w-full lg:grid{% if two_media_per_row and product.media.size > 1 %} lg:grid-cols-2{% else %} lg:grid-cols-1{% endif %}{% if settings.fill_image_to_border_edge %} lg:gap-gutter lg:bg-gridline-color{% else %} lg:gap-4{% endif %}
            {% unless single_variant_mode %}
              {% if left_over > 0 or first_media_full_width %}
                [&>li:first-child]:col-span-2
              {% endif %}
              {% if last_media_full_width %}
                [&>li:last-child]:col-span-2
              {% endif %}
            {% else %}
              opacity-0
            {% endunless %}
          "
          {% if single_variant_mode %}
            :class="{ 'opacity-100' : true }"
          {% endif %}
          x-ref="mediaList"
        >
          {% for media_id_string in media_ids_array %}
            {%- liquid
              assign media_id = media_id_string | plus: 0
              assign media = product.media | where: 'id', media_id | first

              assign preload = false
              assign loading = 'lazy'

              if section.index == 1 and forloop.first
                assign preload = true
              endif

              if section.index <= 3 and forloop.index <= 3
                assign loading = 'eager'
              endif

              if enable_variant_media or single_variant_mode
                if forloop.first
                  assign is_non_variant_media = true
                  assign media_group_id = media.id
                endif

                if variant_media_ids_array contains media.id
                  assign media_group_id = media.id
                  assign is_non_variant_media = false
                else
                  if single_variant_mode and enable_variant_media == false and is_non_variant_media == false
                    assign media_group_id = null
                  endif
                endif
              endif

              unless enable_variant_media or single_variant_mode
                if forloop.first
                  assign sizes = first_media_sizes
                else
                  assign sizes = remaining_media_sizes
                endif
              else
                assign sizes = first_media_sizes
              endunless
            -%}
            <li
              class="splide__slide bg-scheme-background{% unless forloop.first %} max-lg:[.splide:not(.is-active)_&]:hidden{% endunless %}"
              data-index="{{ forloop.index0 }}"
              data-order="{{ forloop.index }}"
              {% if enable_variant_media or single_variant_mode %}
                {% if media_group_id %}
                  data-media-group-id="{{ media_group_id }}"
                {% endif %}
              {% endif %}
              {% if single_variant_mode %}
                :class="
                  {
                  {% if two_media_per_row %}
                    'col-span-2' : $el.parentNode && shouldBeFullWidth(),
                  {% endif %}
                    'lg:hidden' : $el.parentNode
                    && {% if media_group_id %}currentMediaId !== {{ media_group_id }}{% else %}true{% endif %}
                  }
                "
              {% endif %}
            >
              {%- render 'product-media',
                media: media,
                sizes: sizes,
                image_index: image_index,
                scroll_to: media_scroll_to,
                enable_video_looping: enable_video_looping,
                preload: preload,
                loading: loading
              -%}
            </li>

            {%- liquid
              if media.media_type == 'image'
                assign image_index = image_index | plus: 1
              endif
            -%}
          {% endfor %}
        </ul>
      </div>
      {% assign first_3d_model = models | first %}
      {% if product.media.size > 1 %}
        <div
          class="mx-1 mt-2 grid grid-cols-[minmax(0,_1fr)_auto] gap-2 opacity-0 no-js:hidden lg:hidden"
          x-data="
            {
              paginationIsWrapped: false,
              checkIfWrapped() {
                this.paginationIsWrapped = hasWrappedChildren(this.$refs.pagination)
              }
            }
          "
          x-init="checkIfWrapped"
          @resize.window.debounce.250="checkIfWrapped"
          x-show="slideCount > 1"
          :class="{ 'opacity-0' : !splideIsReady }"
        >
          <ul x-ref="pagination" class="splide__pagination"></ul>
          <div
            class="splide__arrows col-end-last flex items-center justify-end gap-1 text-scheme-text"
            :class="{ 'items-start pt-0.5' : paginationIsWrapped, 'items-center' : !paginationIsWrapped }"
          >
            <button class="splide__arrow splide__arrow--prev w-8">
              <span class="sr-only">
                {{- 'sections.slideshow.previous_slide' | t -}}
              </span>
              <span class="block">{% render 'icon-arrow-left' %}</span>
            </button>
            <button class="splide__arrow splide__arrow--next w-8">
              <span class="sr-only">
                {{- 'sections.slideshow.next_slide' | t -}}
              </span>
              <span class="block">{% render 'icon-arrow-right' %}</span>
            </button>
          </div>
        </div>
      {% endif %}
      {%- if first_3d_model -%}
        <div class="px-section-horizontal-spacing text-center">
          <button
            aria-label="{{ 'products.product.view_in_space_label' | t }}"
            class="product-single__view-in-space mb-2 mt-4 w-full max-w-sm border-text border-scheme-text py-2 pl-2 pr-4 text-center lg:my-4"
            data-shopify-xr
            data-shopify-model3d-id="{{ first_3d_model.id }}"
            data-shopify-title="{{ product.title }}"
            data-shopify-xr-hidden
          >
            <span class="inline-block w-6 align-middle">
              {%- render 'icon-3d-model' -%}</span
            ><span class="text-sm">
              {{- 'products.product.view_in_space' | t -}}
            </span>
          </button>
        </div>
      {%- endif -%}
    </div>
  </div>

  <div
    class="product-content-container bg-scheme-background px-section-horizontal-spacing text-scheme-text {{ content_width_desktop }}"
  >
    <div class="product-block-area py-section-vertical-spacing lg:sticky lg:top-sticky-header {{ section.settings.max_width_of_content }}">
      {%- render 'product-form',
        current_variant: current_variant,
        section_color: section_color
      -%}
    </div>
  </div>

  {% unless product == empty %}
    {% if models.size %}
      <script type="application/json" id="ModelJson-{{ section.id }}">
        {{ product.media | where: 'media_type', 'model' | json }}
      </script>
      {% render 'product-shopify-xr-script' %}
    {% endif %}
  {% endunless %}
</section>

{% unless request.design_mode %}
  <script src="{{ 'splide.bundle.min.js' | asset_url }}" type="module"></script>
  <script src="{{ 'product-form.js' | asset_url }}" type="module"></script>
  <script src="{{ 'product.js' | asset_url }}" type="module"></script>
{% endunless %}

{%- liquid
  if section.settings.enable_image_zoom
    render 'product-image-zoom'
  endif

  if section.settings.override_header_footer_color_scheme
    render 'header-footer-color-scheme-override', section_color: section_color
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.featured_media -%}
      {%- assign media_size = product.featured_media.preview_image.width -%}
      "image": [
        {{ product.featured_media | image_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if current_variant.sku != blank -%}
      "sku": {{ current_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
    ]
  }
</script>

{% liquid
  if complementary_products_block
    case desktop_media_width
      when 'one-third'
        assign desktop_content_column_sizes_base = 'calc(100vw / 3)'
      when 'one-half'
        assign desktop_content_column_sizes_base = '50vw'
      when 'three-fifths'
        assign desktop_content_column_sizes_base = '40vw'
      when 'two-thirds'
        assign desktop_content_column_sizes_base = 'calc((100vw / 3 * 2))'
    endcase
    # theme-check-disable NestedSnippet
    render 'product-block-complementary-products-output', complementary_products_block: complementary_products_block, desktop_sizes_base: desktop_content_column_sizes_base
    # theme-check-enable NestedSnippet
  endif
%}

{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "select",
      "id": "desktop_media_width",
      "label": "Desktop media width",
      "options": [
        {
          "value": "one-third",
          "label": "One third"
        },
        {
          "value": "one-half",
          "label": "One half"
        },
        {
          "value": "three-fifths",
          "label": "Three fifths"
        },
        {
          "value": "two-thirds",
          "label": "Two thirds"
        }
      ],
      "default": "one-half"
    },
    {
      "type": "select",
      "id": "desktop_media_position",
      "label": "Desktop media position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "checkbox",
      "id": "two_media_per_row",
      "label": "Enable two media per row on desktop",
      "default": false,
      "info": "If there are an odd number of media, first media will be full width"
    },
    {
      "type": "checkbox",
      "id": "first_media_full_width",
      "label": "Full width first media on desktop",
      "default": false,
      "info": "Applies only if two media per row on desktop is enabled"
    },
    {
      "type": "header",
      "content": "Product variants"
    },
    {
      "type": "select",
      "id": "variant_media_behavior",
      "label": "Variant media change behavior on desktop",
      "options": [
        {
          "value": "swap",
          "label": "Swap with first media"
        },
        {
          "value": "scroll",
          "label": "Scroll to media"
        }
      ],
      "default": "swap"
    },
    {
      "type": "checkbox",
      "id": "always_show_product_featured_media_first",
      "label": "Always show product featured media first"
    },
    {
      "type": "checkbox",
      "id": "single_variant_mode",
      "label": "Single variant mode",
      "info": "Will override “Variant media change behavior on desktop” setting"
    },
    {
      "type": "checkbox",
      "id": "enable_variant_media",
      "label": "Enable multiple variant media",
      "info": "[Learn how to set up multiple variant media](https://help.switchthemes.co/baseline/guides/setup-multiple-variant-media.html)"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "enable_image_zoom",
      "label": "Enable image zoom"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "header",
      "content": "Product form area"
    },
    {
      "type": "select",
      "id": "max_width_of_content",
      "label": "Max width of content",
      "options": [
        {
          "value": "w-full",
          "label": "Full"
        },
        {
          "value": "max-w-xl mx-auto",
          "label": "Wide"
        },
        {
          "value": "max-w-md mx-auto",
          "label": "Narrow"
        }
      ],
      "default": "w-full"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "override_header_footer_color_scheme",
      "label": "Use this color scheme for header and footer",
      "info": "This will only apply to the product template",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_size",
          "label": "Font and text size",
          "options": [
            {
              "value": "text-base",
              "label": "Body"
            },
            {
              "value": "text-heading-standard",
              "label": "Standard heading"
            },
            {
              "value": "text-heading-feature",
              "label": "Feature heading"
            },
            {
              "value": "text-heading-secondary",
              "label": "Secondary heading"
            }
          ],
          "default": "text-base"
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "option_style",
          "label": "Options style",
          "options": [
            {
              "value": "buttons",
              "label": "Button"
            },
            {
              "value": "text_underline",
              "label": "Text with underline"
            },
            {
              "value": "radio",
              "label": "Radio"
            },
            {
              "value": "drop_down",
              "label": "Drop down"
            }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "hide_option_labels",
          "label": "Hide option labels"
        },
        {
          "type": "checkbox",
          "id": "hide_sold_out_variants",
          "label": "Hide sold out variants",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_unavailable_variants",
          "label": "Hide unavailable variants",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_payment_button",
          "label": "Show dynamic checkout button",
          "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        },
        {
          "type": "header",
          "content": "Pickup Availability"
        },
        {
          "type": "checkbox",
          "id": "show_pickup_availability",
          "label": "Show pickup availability [Learn more](https://help.shopify.com/en/manual/sell-in-person/pos-classic/shopify-pos-from-admin/buy-online-pickup-in-store#show-pickup-availability-to-your-customers)",
          "default": true
        },
        {
          "type": "header",
          "content": "Gift card recipient"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": false,
          "label": "Show recipient information form for gift card products",
          "info": "Gift card products can optionally be sent direct to a recipient along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_collapsible_tabs",
          "label": "Enable collapsible tabs",
          "default": false,
          "info": "Turn your H2 headings into collapsible tabs. Learn more about [this feature](https://support.switchthemes.co/article/207-product-page-accordions)"
        },
        {
          "type": "header",
          "content": "Truncate description"
        },
        {
          "type": "checkbox",
          "id": "truncate_description",
          "label": "Truncate description",
          "default": false,
          "info": "Suitable for products with variant media and large descriptions. Requires collapsible tabs above to be disabled."
        },
        {
          "type": "range",
          "id": "max_words",
          "min": 10,
          "max": 100,
          "step": 1,
          "label": "Maximum words before truncation",
          "default": 30
        }
      ]
    },
    {
      "type": "complementary",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Pairs well with",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_text_style",
          "label": "Heading text style",
          "options": [
            {
              "value": "heading",
              "label": "Heading"
            },
            {
              "value": "body",
              "label": "Body"
            }
          ],
          "default": "heading"
        },
        {
          "id": "product_tile_type",
          "type": "select",
          "label": "Product tile type",
          "options": [
            {
              "value": "standard",
              "label": "Standard"
            },
            {
              "value": "text_overlay",
              "label": "Text overlay"
            }
          ],
          "default": "standard"
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "Maximum products to show"
        },
        {
          "type": "select",
          "id": "products_per_row_desktop",
          "label": "Products per row on desktop",
          "default": "2",
          "options": [
            {
              "value": "2",
              "label": "2"
            },
            {
              "value": "3",
              "label": "3"
            }
          ]
        },
        {
          "type": "select",
          "id": "products_per_row_mobile",
          "label": "Products per row on mobile",
          "default": "1",
          "options": [
            {
              "value": "1",
              "label": "1"
            },
            {
              "value": "2",
              "label": "2"
            }
          ]
        },
        {
          "type": "header",
          "content": "Quick buy"
        },
        {
          "type": "paragraph",
          "content": "Only supported when product tile type is set to \"Standard\"."
        },
        {
          "type": "checkbox",
          "id": "enable_quick_buy",
          "label": "Enable quick buy"
        },
        {
          "type": "select",
          "id": "quick_buy_button_style",
          "label": "Button style",
          "options": [
            {
              "value": "theme-button",
              "label": "Primary"
            },
            {
              "value": "theme-button--secondary",
              "label": "Secondary"
            }
          ],
          "default": "theme-button"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "Inventory status",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "low_inventory_threshold",
          "min": 0,
          "max": 100,
          "step": 1,
          "label": "Low inventory threshold",
          "default": 5
        },
        {
          "id": "show_inventory_quantity",
          "type": "checkbox",
          "label": "Show inventory count"
        }
      ]
    },
    {
      "type": "location_inventory",
      "name": "Location inventory status",
      "settings": [
        {
          "type": "radio",
          "id": "show_locations",
          "label": "Locations to show",
          "options": [
            {
              "value": "all",
              "label": "All locations"
            },
            {
              "value": "in_stock_only",
              "label": "In stock locations only"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "font",
          "label": "Font",
          "options": [
            {
              "value": "font-heading",
              "label": "Heading"
            },
            {
              "value": "font-body",
              "label": "Body"
            }
          ],
          "default": "font-body"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "text-sm",
              "label": "S"
            },
            {
              "value": "text-base",
              "label": "M"
            },
            {
              "value": "text-base lg:text-lg",
              "label": "M / desktop L"
            },
            {
              "value": "text-base lg:text-xl",
              "label": "M / desktop XL"
            },
            {
              "value": "text-base lg:text-2xl",
              "label": "M / desktop 2XL"
            }
          ],
          "default": "text-base"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Rich text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "information_list",
      "name": "Information list",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Label: Content</p><p>Label: Content</p><p>Label: Content</p>",
          "label": "Text",
          "info": "Place each row on its own line, add a label by adding a colon (:)"
        },
        {
          "type": "select",
          "id": "font",
          "label": "Font",
          "options": [
            {
              "value": "font-heading",
              "label": "Heading"
            },
            {
              "value": "font-body",
              "label": "Body"
            }
          ],
          "default": "font-body"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "text-sm",
              "label": "S"
            },
            {
              "value": "text-base",
              "label": "M"
            },
            {
              "value": "text-base lg:text-lg",
              "label": "M / desktop L"
            },
            {
              "value": "text-base lg:text-xl",
              "label": "M / desktop XL"
            },
            {
              "value": "text-base lg:text-2xl",
              "label": "M / desktop 2XL"
            }
          ],
          "default": "text-base"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Style",
          "options": [
            {
              "value": "table",
              "label": "Table"
            },
            {
              "value": "table_with_gridlines",
              "label": "Table with gridlines"
            },
            {
              "value": "list",
              "label": "List"
            }
          ],
          "default": "table_with_gridlines"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible tab",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "label": "Heading",
          "info": "Include a heading that expands the content"
        },
        {
          "type": "select",
          "id": "heading_text_style",
          "label": "Heading text style",
          "options": [
            {
              "value": "font-heading",
              "label": "Heading"
            },
            {
              "value": "font-body",
              "label": "Body"
            }
          ],
          "default": "font-heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Tab content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Tab content from page"
        },
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none"
        }
      ]
    },
    {
      "type": "icon_list",
      "name": "Icon list",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Icon list",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "secondary"
        },
        {
          "type": "header",
          "content": "Item 1"
        },
        {
          "type": "text",
          "id": "text_1",
          "default": "List item",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "icon_1",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "box"
        },
        {
          "type": "header",
          "content": "Item 2"
        },
        {
          "type": "text",
          "id": "text_2",
          "default": "List item",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "icon_2",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "ruler"
        },
        {
          "type": "header",
          "content": "Item 3"
        },
        {
          "type": "text",
          "id": "text_3",
          "default": "List item",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "icon_3",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "globe"
        },
        {
          "type": "header",
          "content": "Item 4"
        },
        {
          "type": "text",
          "id": "text_4",
          "default": "List item",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "icon_4",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "washing"
        },
        {
          "type": "header",
          "content": "Item 5"
        },
        {
          "type": "text",
          "id": "text_5",
          "default": "List item",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "icon_5",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "truck"
        }
      ]
    },
    {
      "type": "popup",
      "name": "Popup",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "chat-bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check-mark",
              "label": "Check mark"
            },
            {
              "value": "coat-hanger",
              "label": "Coat hanger"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "globe",
              "label": "Globe"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "like",
              "label": "Like"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map-pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "person",
              "label": "Person"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price-tag",
              "label": "Price tag"
            },
            {
              "value": "question-mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "text",
          "default": "Popup link text",
          "label": "Link label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "Text color",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            }
          ],
          "default": "secondary"
        }
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1
    },
    {
      "type": "custom_liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other code to create advanced customizations. [Learn more](https://shopify.dev/docs/api/liquid)"
        }
      ]
    }
  ]
}
{% endschema %}
