{% if section.settings.enabled or request.design_mode %}
  <section
    data-color-scheme="{{ section.settings.color_scheme | default: 'scheme2' }}"
    x-data="
      PrivacyBanner(
        { enabled: {{ section.settings.enabled | default: false }}, }
      )
    "
    x-show="shown"
    x-transition:enter="transition duration-300 motion-reduce:duration-0 delay-75 outline-0"
    x-transition:enter-start="translate-y-full"
    x-transition:enter-end="-translate-y-[--bottom]"
    x-transition:leave="transition duration-300 motion-reduce:duration-0 outline-0"
    x-transition:leave-start="-translate-y-[--bottom]"
    x-transition:leave-end="translate-y-full"
    class="fixed w-full mt-auto top-auto right-0 bottom-0 left-0 overflow-y-auto pointer-events-auto px-section-horizontal-spacing py-section-vertical-spacing bg-scheme-background text-scheme-text grid gap-4 md:grid-cols-[1fr,_auto] items-center -translate-y-[--bottom]"
    id="{{ section.id }}"
    style="display: none;"
    :class="{ 'transition duration-300 motion-reduce:duration-0 delay-75' : transition }"
    :style="`--bottom: ${bottom}`"
  >
    <p>
      {{ 'privacy_banner.message' | t }}
    </p>
    <div class="">
      <button
        class="mr-3 theme-button"
        type="button"
        @click="accept"
      >
        {{ 'privacy_banner.accept' | t }}
      </button>
      <button
        class="theme-button--secondary"
        type="button"
        @click="decline"
      >
        {{ 'privacy_banner.decline' | t }}
      </button>
    </div>
  </section>
{% endif %}

{% unless request.design_mode %}
  <script src="{{ 'privacy-banner.js' | asset_url }}" type="module"></script>
{% endunless %}

{% schema %}
{
  "name": "Privacy banner",
  "class": "contents",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Enable privacy banner",
      "info": "This banner uses Shopify’s [Customer Privacy API](https://shopify.dev/api/consent-tracking). If you require showing a banner under different conditions, consider using a dedicated app."
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "Color scheme"
    }
  ]
}
{% endschema %}
