{%- if block.settings.text_color == 'text' -%}
  {% capture color_class %}text-scheme-text{% endcapture %}
{%- else -%}
  {% capture color_class %}text-scheme-secondary{% endcapture %}
{%- endif -%}
<div class="mt-8 {{ color_class }}" {{ block.shopify_attributes }}>
  {%- if block.settings.heading != '' -%}
    <h2 class="font-heading text-heading-standard">
      {{ block.settings.heading }}
    </h2>
  {%- endif -%}
  <ul class="{%- if block.settings.heading != '' -%}mt-4 {% endif %}space-y-2">
    {%- for i in (1..5) -%}
      {%- capture icon %}icon_{{ i }}{%- endcapture -%}
      {%- capture text %}text_{{ i }}{%- endcapture -%}
      {%- liquid
        assign icon = block.settings[icon]
        assign text = block.settings[text]
      -%}
      {%- if text != '' -%}
        <li class="flex items-center justify-start">
          <div class="mr-2 flex h-6 w-6 items-center">
            {%- render 'product-icon', icon: icon -%}
          </div>
          <div class="flex items-center text-base">
            {{- text -}}
          </div>
        </li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</div>
